<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Notifications</h1>
        </div>
        <div class="card-body">
            testing
        </div>
        <div class="card-footer">
            <form action="/send-notification" method="POST">
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" placeholder="Titulo" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="mensaje" class="form-control" placeholder="Mensaje">
                </div>

                <button class="btn btn-primary btn-block">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</div>